<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Register the Student</h4>
<div class="col-6">
  <form action="#" th:action="@{/students/create}" th:object="${student}" method="post">
    <div class="form-group">
      <div class="form-group">
        <label for="fNumber">Faculty number</label>
        <input class="form-control" type="text" th:field="*{fNumber}" placeholder="Faculty number" id="fNumber">
        <span class="text-danger" th:if="${#fields.hasErrors('fNumber')}" th:errors="*{fNumber}">Faculty number Error</span>
      </div>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input class="form-control" type="text" th:field="*{firstName}" placeholder="First name" id="firstName">
        <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</span>
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input class="form-control" type="text" th:field="*{lastName}" placeholder="Last name" id="lastName">
        <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save Student</button>
  </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>